<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resume</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/loginstyle.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


  <script src="/chart.js"></script>
</head>

<body id="myPage" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
  <h1>Resume &#9892;</h1> 

<br>

    <form action="/test/">
      <input type="submit" class="btn btn-default" value="Upload File Here"/>
    </form>

<br>
<br>

                          <p>Search for Your Applicant</p> 

</div>

<div id="first" class="container-fluid">
  <h2><b><center>OUR MISSION</center></b></h2>
  <div id="mission"><center>
  Gender inequality is still a prevalent issue in the workforce today. <br><br>
  </center></div>

  <div class="col-sm-6 col-centered">
    <div class="blindfont"> <b>Blind re•cruit </b></div>
    <blockquote>
      <p><b>&ldquo;</b>the practice of removing personally identifiable information from the resumes of applicants including their name, gender, age, education, and even sometimes the number of years of experience.<b>&rdquo;</b></p>
      <footer>Michael Grothaus, Fast Company</footer>
    </blockquote>
    </div>

    <div class="col-sm-10 col-centered">
    <div id="mission"><center>
    With Resume &#9892;, we aim to alleviate this issue by promoting <b>blind recruitments</b>, removing names from application forms in an effort to stop "unconscious bias" against potential recruits from black and ethnic minority backgrounds. We are partnering with jobs all around the world to utilize our Job Application identifier, including resumes and letter of recommendations. 
    </center></div>
    </div>

  </div>
</div>

<!--
<div id="second" class="container-fluid text-center">
  <h2><b>STATISTICS</b></h2>

  - A study, carried out in France, found that people with "foreign-sounding" north African names were less likely than others to receive a response from companies' recruiting staff. <br><br>
  - Another study of the Russell Group of leading UK universities by Vikki Boliver, senior lecturer in sociology at Durham University, suggested 36% of ethnic minority applicants from 2010 to 2012 had received places, compared with 55% of white applicants.<br><br>
  - Research suggests a person's gender, as demonstrated by the name given, can also have an influence. In one study, US universities seeking a laboratory manager were handed CVs randomly headed with male or female names. They were seen to rate applicants assigned a "male" name as "significantly more competent and hireable". <br><br>
  - Research done in the US suggests that bias can be significant. The National Bureau of Economic Research released a paper entitled Are Emily and Greg More Employable than Lakisha and Jamal? A Field Experiment on Labor Market Discrimination. It found that: "Job applicants with white names needed to send about 10 resumes to get one callback; those with African-American names needed to send around 15 resumes to get one callback."
</div>
-->

<div id="third" class="container-fluid text-center">
  <h2><b>OUR SERVICES</b></h2>
  <h4></h4>
  <br>
  <div class="statrow">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-briefcase logo-small"></span>
      <h4>FIGHTING BIAS IN TODAY'S WORKFORCE</h4>
      <p><font color = "#94618E">Fighting bias by building a connection between employers and employees worldwide.</font></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-file logo-small"></span>
      <h4>UPLOAD DOCUMENTATION</h4>
      <p><font color = "#94618E">Upload your Resume or Recommendation Letter in .pdf or .jpg and have it converted to gender-neutral terms.</font></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <h4>SEARCH FOR YOUR APPLICANTS</h4>
      <p><font color = "#94618E">Provided with a unique ID, applicants' files are easily searchable by employers. </font></p>
    </div>
  </div>
</div>

</body>
</html>